@import (reference) "common.less";

.text-input,
input[type=text]{
    @v-padding: 2px;
    @h-padding: 3px;

    .bordered_input();
    border-radius: 5px;
    padding: @v-padding @h-padding;
    font-family: "Roboto";
    font-size: 12px;
    outline: none;

    .focused_text_input(@color){
        .focused_input(@color);
        // padding: @v-padding + 1 @h-padding + 1;

        &.compact{
            padding: @v-padding + 1;
        }
    }

    &:focus{
        .focused_text_input(@focus-color);
    }

    &.compact{
        padding: @v-padding;
    }

    &.seamless{
        border: 1px solid transparent;
        box-shadow: none;
        
        &:hover, 
        &:focus{
            .bordered_input();
        }

        &:focus{
            .focused_text_input(@focus-color);
        }
    }

    &.incorrect:focus{
        .focused_text_input(@incorrect-focus-color);
    }
}