@import (reference) "toolbar.less";

.calendar{
	@header-size: 30px;
	@item-height: 70px;
	
	@side-margin: 20px; 
	@indexes-width: 70px;

	position: absolute;
	left: @side-margin + @indexes-width;
	top: @side-margin + @toolbar-height;
	right: @side-margin;
	bottom: @side-margin;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	min-height: 450px;

	.day-column{
		@separator-color: #CBCDD0;

		flex-grow: 1;
		width: 100% / 7;
		display: flex;
		flex-direction: column;
		height: 100%;
	
		.day-header{
			@v-padding: 7px;
			@border-height: 3px;
			font-weight: 500;
			border-bottom: @border-height solid @separator-color;
			padding: @v-padding 5px;
			height: @header-size - 2 * @v-padding - @border-height;
		}
		
		.day-item{
			height: @item-height - 1px;
			margin: 0 5px;
			border-bottom: 1px solid @separator-color;
			position: relative;
			flex-grow: 1;

			.plus-sign{
				position: absolute;
				margin: -10px;
				left: 50%;
				top: 50%;
				transition: opacity 0.2s;
				opacity: 0;

				& path{
					fill: rgba(0, 0, 0, 0.05);
				}
			}

			&:hover .plus-sign{
				opacity: 1;
			}
		}

		&.holiday{
			.day-header{
				color: #737373;
			}

			.day-item{
				background-color: #F6F6F6;
			}
		}
	}


	.calendar-indexes{
		position: absolute;
		left: -@indexes-width;
		top: @header-size;
		width: @indexes-width;
		bottom: 0;
		display: flex;
		flex-direction: column;
		
		.calendar-index{
			position: relative;
			height: @item-height;
			width: 100%;
			flex-grow: 1;

			.index-number{
				font-size: 18px;
				position: absolute;
				top: 50%;
				right: 10px;

				@number-size: 20px;
				line-height: @number-size;
				height: @number-size;
				margin-top: -@number-size / 2;
			}
			
			.time-start, 
			.time-end{
				position: absolute;
				width: @indexes-width - 35px;
				font-size: 11px;
				text-align: center;
			}

			@edits-offset: 3px;
			.time-start{
				bottom: 50%;
				margin-bottom: @edits-offset;
			}

			.time-end{
				top: 50%;
				margin-top: @edits-offset; 
			}
		}
	}
}
